<div class="subscriptions">

  <% @magazine.subscriptions.each do |subscription| %>
    <%= subscription.expires_on %>
  <% end %>
</div>

<div class="subscribers">
  <% @magazine.subscribers.each do |subscriber| %>
  <%= subscriber.name %>
    <% end %>
</div>





